nav {
  height: 100vh;
  background-color: #774DC7; }

.pug {
  position: relative;
  font-family: Ubuntu;
  text-decoration: none;
  top: -5px; }

.userHome {
  font-size: 18px;
  line-height: 62px;
  position: absolute;
  right: 30px;
  top: 10px;
  text-align: center;
  z-index: 10; }

.profilePic {
  height: 80px;
  width: 80px; }

.logo {
  float: left; }

.padWrapper {
  position: relative;
  border: 1px solid lightgrey;
  margin: 60px auto 0;
  width: 800px;
  height: 600px; }

section {
  background-color: #774DC7;
  color: #fff;
  clear: both;
  text-align: center; }
  section h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 30px;
    font-size: 52px; }
  section h4 {
    font-size: 22px;
    font-weight: 300; }
  section img {
    margin-bottom: 30px; }

md-menu-content {
  padding: 0; }

md-open-menu-container {
  top: 55px !important; }

.menuBtn {
  width: 100%;
  margin: 0;
  padding: 7px; }
