.homeContainer {
  position: relative;
  width: 80%;
  margin: 0 auto; }

.user {
  position: absolute;
  right: 15px;
  text-align: center;
  padding: 15px;
  background-color: white;
  z-index: 10; }

.profilePic {
  height: 80px;
  width: 80px; }

.logo {
  float: left; }

.padWrapper {
  position: relative;
  border: 1px solid lightgrey;
  margin: 60px auto 0;
  width: 800px;
  height: 600px; }

section {
  clear: both;
  text-align: center; }

md-menu-content {
  padding: 0; }

md-open-menu-container {
  top: 55px !important; }

.menuBtn {
  width: 100%;
  margin: 0;
  padding: 7px; }
