.login {
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  width: 200px;
  border: 1px solid lightgrey; }
  .login img {
    height: 200px;
    width: 200px;
    padding-bottom: 15px; }

.homeContainer {
  position: relative;
  width: 80%;
  margin: 0 auto; }

.user {
  position: absolute;
  right: 15px;
  text-align: center;
  padding: 15px;
  background-color: white;
  z-index: 10; }

.profilePic {
  height: 80px;
  width: 80px; }

.logo {
  float: left; }

.padWrapper {
  position: relative;
  border: 1px solid lightgrey;
  margin: 60px auto 0;
  width: 800px;
  height: 600px; }

section {
  clear: both;
  text-align: center; }

#userlist {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: auto;
  width: 175px;
  border-right: 1px solid lightgrey; }

#firepad {
  position: absolute;
  left: 175px;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border-left: 1px solid lightgrey; }

.powered-by-firepad {
  visibility: hidden; }

.roomTitle {
  margin-left: 15px; }

.roomMenu {
  float: left; }

.container {
  text-align: center;
  margin: 0 auto;
  clear: both; }

.frame {
  text-align: center;
  width: 500px;
  height: 435px;
  margin: 30px auto;
  float: right; }
  .frame input {
    display: block;
    margin: 0 auto; }

.youtubeBtn {
  background-color: #CC181E !important; }

.youtubeFrame {
  background-color: #CC181E; }

.spotifyBtn {
  background-color: #2EBD59 !important; }

.spotifyFrame {
  background-color: #2EBD59;
  width: 317px; }

.soundcloudBtn {
  background-color: #FF5500 !important; }

.soundcloudFrame {
  background-color: #FF5500; }

.soundInput {
  position: relative;
  top: -60px; }

.soundIcon {
  font-size: 200px;
  margin-top: 20%; }

.linkIcon {
  margin-top: 14px; }

.userBtn {
  float: left;
  z-index: 10; }

a {
  text-decoration: none;
  color: #1F1F1F; }

a:visited {
  color: #1F1F1F; }
