.login {
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  width: 200px;
  border: 1px solid lightgrey; }
  .login img {
    height: 200px;
    width: 200px;
    padding-bottom: 15px; }

.homeContainer {
  position: relative;
  width: 80%;
  margin: 0 auto; }

.user {
  position: absolute;
  right: 15px;
  text-align: center;
  padding: 15px;
  background-color: white;
  z-index: 10; }

.profilePic {
  height: 80px;
  width: 80px; }

.logo {
  float: left; }

.padWrapper {
  position: relative;
  border: 1px solid lightgrey;
  margin: 60px auto 0;
  width: 800px;
  height: 600px; }

section {
  clear: both;
  text-align: center; }

md-menu-content {
  padding: 0; }

md-open-menu-container {
  top: 55px !important; }

.menuBtn {
  width: 100%;
  margin: 0;
  padding: 7px; }

#userlist {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 175px;
  background-color: #1C013D; }

#firepad {
  position: absolute;
  left: 175px;
  top: 0;
  bottom: 0;
  right: 0;
  height: auto;
  border-left: 1px solid lightgrey; }

.firepad-userlist-name {
  top: 8px !important;
  color: #fff !important; }

.firepad-userlist-users {
  top: 43px !important; }

.firepad-userlist-user {
  border-bottom: 1px solid #fff !important; }

.firepad-userlist-color-indicator {
  border: none !important;
  border-radius: 0 !important; }

.firepad-userlist-heading {
  border-bottom: 1px solid #fff !important;
  padding-bottom: 5px; }

.firepad-userlist-heading {
  color: white; }

.firepad-userlist-name {
  color: #c9c9c9; }

.firepad-userlist-name-input {
  color: #fff;
  background-color: #1C013D;
  top: 3px !important; }

input.firepad-userlist-name-input {
  border-bottom: 1px solid #fff !important; }

.powered-by-firepad {
  visibility: hidden; }

.room {
  margin: 15px 15px 0; }

.user-group {
  display: block !important;
  margin: 20px 10px !important; }

.userBtn {
  width: 30px;
  font-size: 24px !important;
  padding: 7px !important;
  margin-right: 3px; }

.userForm {
  display: inline-block; }

.roomBtn {
  color: #c9c9c9;
  background-color: transparent;
  border: 1px solid #c9c9c9; }
  .roomBtn:hover {
    color: #fff;
    background-color: #9671E2;
    border: 1px solid #1C013D; }

.js-cuttextarea {
  display: inline-block;
  width: 300px; }

.wraps {
  position: fixed;
  left: 177px; }

* {
  font-family: 'Roboto', sans-serif; }

a {
  padding: 0;
  color: #1F1F1F; }

a:visited {
  color: #1F1F1F;
  outline: none; }

a:focus {
  outline: none; }
