.container {
  text-align: center;
  margin: 0 auto; }

.frame {
  text-align: center;
  width: 500px;
  height: 435px;
  margin: 30px auto; }
  .frame input {
    display: block;
    margin: 0 auto; }

#SoundCloud {
  width: 500px;
  height: 400px;
  margin: 30px auto; }

.fa {
  margin-top: 13px; }

.youtubeBtn {
  background-color: #CC181E !important; }

.youtubeFrame {
  background-color: #CC181E; }

.spotifyBtn {
  background-color: #2EBD59 !important; }

.spotifyFrame {
  background-color: #2EBD59; }

.soundcloudBtn {
  background-color: #FF5500 !important; }

.soundcloudFrame {
  background-color: #FF5500; }
