
<!-- LOGIN BUTTON -->
<div class="homeContainer">
  <nav>
    <div class="logo">
      <h2>Pug</h2>
    </div>




    <div class="user">

      <md-button ng-hide="authData" ng-click="login()">Log in</md-button>
      <md-button ng-show="authData" class="logoutBtn" ng-click="logout()">Logout</md-button>


      <md-menu md-position-mode="target-right target">
         <md-button ng-click="$mdOpenMenu()">
           New Room <i class="fa fa-caret-down"></i>
         </md-button>

         <md-menu-content width="2">
           <md-menu-item>
             <a href="/#/room/{{roomNum}}"><md-button class="menuBtn">Text</md-button></a>
           </md-menu-item>
           <md-menu-item>
             <a href="/#/room/js/{{roomNum}}"><md-button class="menuBtn">JavaScript</md-button></a>
           </md-menu-item>
         </md-menu-content>
       </md-menu>

    </div>
  </nav>

  <section>
    <h2>Pick up group.</h2>
    <h4>
      Share links, pictures, videos, and songs. <br>
      Together, in real time.
    </h4>
  </section>

</div>
