
<!-- LOGOUT BUTTON -->
<!-- <div class="user" ng-show="authData">
  <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" class="profilePic">
  <p class="userName">{{authData.github.displayName}}</p>
  <a href="/#/room"><md-button class="md-raised roomBtn" ng-click="createRoom()">My Room</md-button></a>
  <md-button class="md-raised logoutBtn" ng-click="logout()">Logout</md-button>
</div> -->

<!-- LOGIN BUTTON -->
<div class="login" ng-hide="authData">
  <!-- <img ng-src="https://www.clever-cloud.com/assets/img/github-icon.svg"> -->
  <md-button class="md-raised" ng-click="login()">Log in With GitHub</md-button>
</div>


<div class="user md-whiteframe-z2" ng-show="authData">
  <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" class="profilePic">
  <p class="userName">{{authData.github.username}}</p>
  <a href="/#/room/{{roomNum}}"><md-button class="md-raised roomBtn" ng-click="createRoom()">New Room</md-button></a>
  <md-button class="md-raised logoutBtn" ng-click="logout()">Logout</md-button>
</div>

<!-- NAV BTNS -->
<!-- <h2 class="roomTitle">{{roomName}} : </h2>
<md-menu class="roomMenu" md-position-mode="target-right target">
  <md-button aria-label="Layout Menu" class="md-raised" ng-click="$mdOpenMenu()">
    King of the Hill <i class="fa fa-caret-down" md-menu-origin></i>
  </md-button>
  <md-menu-content width="2">
    <md-menu-item>
      <md-button>
        <a href="/#/room/roundrobin/{{room.$id}}" md-menu-align-target>Round Robin</a>
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <a href="/#/room/freeforall/{{room.$id}}" md-menu-align-target>Free For All</a>
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <a href="/#/room/whiteboard/{{room.$id}}" md-menu-align-target>Whiteboard</a>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu> -->

<style>
    html { height: 100%; }
    body { margin: 0; height: 100%; }
    /* Height / width / positioning can be customized for your use case.
       For demo purposes, we make the user list 175px and firepad fill the rest of the page. */
    #userlist {
      position: absolute; left: 0; top: 50px; bottom: 0; height: auto;
      width: 175px; border-right: 1px solid lightgrey;
    }
    #firepad {
      position: absolute; left: 175px; top: 50px; bottom: 0; right: 0; height: auto;
      border-left: 1px solid lightgrey;
    }

    .powered-by-firepad {
      visibility: hidden;
    }
  </style>

  <div id="userlist"></div>
  <div id="firepad"></div>
