<!-- NAV BTNS -->

<h2>{{roomName}} : King of the Hill</h2>

<!-- FRAMES -->
<div class="container" ng-show="authData">

  <!-- <h2>{{room.input.message}}</h2> -->
  <!-- <input type="text" ng-model="room.input.message" placeholder="Message"> -->

  <md-content class="md-padding">
      <md-tabs md-border-bottom>
        <md-tab id="tab1">
          <md-tab-label>Link</md-tab-label>
          <md-tab-body>
            <div class="frame linkFrame md-whiteframe-z3">
              <iframe src="{{room.input.generalUrl}}" width="500px" height="400px"></iframe>
              <input type="text" ng-model="room.input.generalUrl" placeholder="General URL">
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab2">
          <md-tab-label>YouTube</md-tab-label>
          <md-tab-body>
            <div class="frame youtubeFrame md-whiteframe-z3">
              <iframe src="{{room.embedYT}}" width="500px" height="400px"></iframe>
              <form ng-submit="embedify(room.input.yt)">
                <input type="text" ng-model="room.input.yt" placeholder="YOUTUBE">
              </form>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab3">
          <md-tab-label>Spotify</md-tab-label>
          <md-tab-body>
            <div class="frame spotifyFrame md-whiteframe-z3">
              <iframe src="{{room.embedSpot}}" width="500" height="400" allowtransparency="true"></iframe>
              <form ng-submit="spotify(room.input.spot)">
                <input type="text" ng-model="room.input.spot" placeholder="Spotify URI Link">
              </form>
            </div>
          </md-tab-body>
        </md-tab>
        <md-tab id="tab4">
          <md-tab-label>SoundCloud</md-tab-label>
          <md-tab-body>
            <div class="frame soundcloudFrame md-whiteframe-z3" id="SoundCloud"></div>
              <form ng-submit="soundcloud(room.input.cloud)">
                <input type="text" ng-model="room.input.cloud" placeholder="SoundCloud Link">
              </form>
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </md-content>

</div>
