
<div class="user" ng-hide="authData">
  <a class="login" ng-click="login()">Log in</a>
  <a href="#" class="homeBtn">Home</a>
</div>

<div class="user" ng-show="authData">
  <a href="#" class="homeBtn">Home</a>
</div>

<div id="userlist">
  <div class="roomLogo">
    <img src="../../images/tailtrans2.png" style="width: 28px" alt="" />
    <span class="pug">pug</span>
  </div>
</div>
<div id="firepad"></div>
  <div class="wrapper">
    <div class="room">

      <input type="text" class="js-cuttextarea" value="{{href}}"></input>

      <button class="js-textareacutbtn roomBtn" ng-click="showCopy()">
        <i class="fa fa-clipboard"></i>
        <md-tooltip>Copy to clipboard</md-tooltip>
      </button>

      <a href="http://twitter.com/home?status=Join%20my%20room%20with%20this%20link%20@pug%20https%3A%2F%2Fradiant-heat-3085.firebaseapp.com%2F%23%2Froom%2F{{roomNum}}" target="_blank">
        <button class="roomBtn">
          <i class="fa fa-twitter"></i>
          <md-tooltip>Tweet</md-tooltip>
        </button>
      </a>

    </div>

</div>
