
<div class="user" ng-hide="authData">
  <!-- <img ng-src="https://www.clever-cloud.com/assets/img/github-icon.svg"> -->
  <a href="#"><md-button class="md-raised roomBtn">Home</md-button></a>
  <md-button class="md-raised" ng-click="login()">Log in</md-button>
</div>

<div class="user" ng-show="authData">
  <!-- <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" class="profilePic">
  <p class="userName">{{authData.github.displayName}}</p> -->
  <a href="#"><md-button class="md-raised roomBtn">Home</md-button></a>
  <md-button class="md-raised logoutBtn" ng-click="logout()">Logout</md-button>
</div>


<!-- <md-button ng-click="addFrame()">

</md-button> -->



<div id="userlist"></div>
<div id="firepad">
  <h2 class="roomTitle">pug room: {{roomName}}</h2>

  <md-button class="md-raised userBtn" ng-click="showLink = !showLink"><i class="fa fa-link fa-2x"></i></md-button>
  <form ng-submit="addFrame(link)">
    <input type="text"  placeholder="URL Link to site" ng-show="showLink" ng-model="link">
  </form>

  <md-button class="md-raised userBtn" ng-click="showYT = !showYT"><i class="fa fa-youtube fa-2x"></i></md-button>
  <form ng-submit="addYoutube(YT)">
    <input type="text"  placeholder="URL of YT video" ng-show="showYT" ng-model="YT">
  </form>
</div>
