<!-- NAN BTNS -->
<md-button class="md-fab md-primary homeBtn" ng-click="goHome()" aria-label="Button">
  <i class="fa fa-home fa-2x"></i>
</md-button>

<md-button class="md-fab md-primary linkBtn" ng-click="linkFrame = !linkFrame" aria-label="Button">
  <i class="fa fa-link fa-2x"></i>
</md-button>

<md-button class="md-fab md-primary youtubeBtn" ng-click="youtubeFrame = !youtubeFrame" aria-label="Button">
  <i class="fa fa-youtube-play fa-2x"></i>
</md-button>

<md-button class="md-fab md-primary spotifyBtn" ng-click="spotifyFrame = !spotifyFrame" aria-label="Button">
  <i class="fa fa-spotify fa-2x"></i>
</md-button>

<md-button class="md-fab md-primary soundcloudBtn" ng-click="soundcloudFrame = !soundcloudFrame" aria-label="Button">
  <i class="fa fa-soundcloud fa-2x"></i>
</md-button>

<!-- FRAMES -->
<div class="container" ng-show="authData">

  <!-- <h2>{{room.input.message}}</h2> -->
  <!-- <input type="text" ng-model="room.input.message" placeholder="Message"> -->


<div class="frame linkFrame" ng-show="linkFrame">
  <iframe src="{{room.input.generalUrl}}" width="500px" height="400px"></iframe>
  <input type="text" ng-model="room.input.generalUrl" placeholder="General URL">
</div>

<div class="frame youtubeFrame" ng-show="youtubeFrame">
  <iframe src="{{room.embedYT}}" width="500px" height="400px"></iframe>
  <form ng-submit="embedify(room.input.yt)">
    <input type="text" ng-model="room.input.yt" placeholder="YOUTUBE">
  </form>
</div>

<div class="frame spotifyFrame" ng-show="spotifyFrame">
  <iframe src="{{room.embedSpot}}" width="500" height="400" allowtransparency="true"></iframe>
  <form ng-submit="spotify(room.input.spot)">
    <input type="text" ng-model="room.input.spot" placeholder="Spotify URI Link">
  </form>
</div>

<div class="frame soundcloudFrame" id="SoundCloud" ng-show="soundcloudFrame"></div>
  <form ng-submit="soundcloud(room.input.cloud)">
    <input type="text" ng-model="room.input.cloud" placeholder="SoundCloud Link">
  </form>
