<div class="user md-whiteframe-z2" ng-show="authData">
  <img ng-src="{{ authData.github.cachedUserProfile.avatar_url }}" class="profilePic">
  <p class="userName">{{authData.github.displayName}}</p>
  <a href=""><md-button class="md-raised roomBtn" ng-click="goHome()">Home</md-button></a>
  <md-button class="md-raised logoutBtn" ng-click="logout()">Logout</md-button>
</div>

<!-- NAV BTNS -->
<h2 class="roomTitle">{{roomName}} : </h2>
<md-menu class="roomMenu" md-position-mode="target-right target">
  <md-button aria-label="Layout Menu" class="md-raised" ng-click="$mdOpenMenu()">
    Free For All <i class="fa fa-caret-down" md-menu-origin></i>
  </md-button>
  <md-menu-content width="2">
    <md-menu-item>
      <md-button>
        <a href="/#/room/roundrobin/{{room.$id}}" md-menu-align-target>Round Robin</a>
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <a href="/#/room/kingofthehill/{{room.$id}}" md-menu-align-target>King of the Hill</a>
      </md-button>
    </md-menu-item>
    <md-menu-item>
      <md-button>
        <a href="/#/room/whiteboard/{{room.$id}}" md-menu-align-target>Whiteboard</a>
      </md-button>
    </md-menu-item>
  </md-menu-content>
</md-menu>

<h2>{{room.leftLink}}</h2>
<h2>{{room.topLink}}</h2>
<!-- FRAMES -->
<div class="container">

  <!-- <h2>{{room.input.message}}</h2> -->
  <!-- <input type="text" ng-model="room.input.message" placeholder="Message"> -->

<!-- style="transform: translate({{room.leftLink}}px,{{room.topLink}}px)" -->

<div draggable class="frame linkFrame md-whiteframe-z4 dragme">
  <iframe src="{{room.input.generalUrl}}" width="500px" height="400px" frameborder="0"></iframe>
  <input type="text" ng-model="room.input.generalUrl" placeholder="General URL">
</div>

<div draggable class="frame youtubeFrame md-whiteframe-z4">
  <iframe src="{{room.embedYT}}" width="500px" height="400px" frameborder="0"></iframe>
  <form ng-submit="embedify(room.input.yt)">
    <input type="text" ng-model="room.input.yt" placeholder="YOUTUBE">
  </form>
</div>

<div class="frame spotifyFrame md-whiteframe-z4">
  <iframe src="{{room.embedSpot}}" width="317" height="400" allowtransparency="true" frameborder="0"></iframe>
  <form ng-submit="spotify(room.input.spot)">
    <input type="text" ng-model="room.input.spot" placeholder="Spotify URI Link">
  </form>
</div>

<div class="soundcloudFrame frame md-whiteframe-z4" id="SoundCloud">
  <i class="fa fa-soundcloud soundIcon"></i>
</div>
  <form ng-submit="soundcloud(room.input.cloud)">
    <input class="soundInput" type="text" ng-model="room.input.cloud" placeholder="SoundCloud Link">
  </form>
