@import 'login.scss';
@import 'home.scss';
@import 'room.scss';

* {
  font-family: 'Roboto', sans-serif;
  transition: 0.2s all ease-in-out;
}

a {
  cursor: pointer;
  padding: 0;
  color: #1F1F1F;
}

a:visited {
    color: #1F1F1F;
    outline: none;
}

a:focus {
    outline: none;
}

.homeBtn {
  text-decoration: none;
  padding: 8px;
  margin-left: 15px;
  border: 1px solid #2D0065;

  &:hover {
    color: $purple;
    background-color: $darkpurple;
  }
}
