$youtube: #CC181E;
$spotify: #2EBD59;
$soundcloud: #FF5500;

.login {
  margin: 30px auto;
  padding: 15px;
  text-align: center;
  width: 200px;
  border: 1px solid lightgrey;

  img {
    height: 200px;
    width: 200px;
    padding-bottom: 15px;
  }
}

.user {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 100px;
  padding-top: 30px;
  text-align: center;
  border: 1px solid lightgrey;
  padding: 15px;
}

.profilePic {
  height: 80px;
  width: 80px;
}

.userName {
  margin-bottom: 0;
}

.room {
  width: 100%;
  text-align: center;
  padding-top: 20%;
}

.container {
  text-align: center;
  margin: 0 auto;
}

.frame {
  text-align: center;
  width: 500px;
  height: 435px;
  margin: 30px auto;

  input {
    display: block;
    margin: 0 auto;
  }
}

#SoundCloud {
  width: 500px;
  height: 400px;
  margin: 30px auto;
}

.fa {
  margin-top: 13px;
}

.youtubeBtn {
  background-color: $youtube !important;
}

.youtubeFrame {
  background-color: $youtube;
}

.spotifyBtn {
  background-color: $spotify !important;
}

.spotifyFrame {
  background-color: $spotify;
}

.soundcloudBtn {
  background-color: $soundcloud !important;
}

.soundcloudFrame {
  background-color: $soundcloud;
}