@import 'login.scss';
@import 'home.scss';
@import 'room.scss';

* {
  font-family: 'Roboto', sans-serif;
}

a {
  padding: 0;
  color: #1F1F1F;
}

a:visited {
    color: #1F1F1F;
    outline: none;
}

a:focus {
    outline: none;
}
