$youtube: #CC181E;
$spotify: #2EBD59;
$soundcloud: #FF5500;
$darksidebar: #1C2836;
$darkgray: #c9c9c9;
$lightpurple: #9671E2;
$purple: #774DC7;
$darkpurple: #2D0065;
$focus: #48C4D2;

#userlist {
  position: fixed; left: 0; top: 0; height: 100vh;
  width: 175px;
  background-color: $darksidebar;
}
#firepad {
  position: absolute; left: 175px; top: 0; bottom: 0; right: 0; height: auto;
}

.roomLogo {
  font-weight: 700;
  color: white;
  font-size: 32px;
  height: 62px;
  background-color: $purple;

  img {
    margin-top: 15px;
    margin-left: 30px;
  }
}

.pug {
  position: relative;
  font-family: Ubuntu;
  top: -5px;
}

.firepad-userlist-name {
  top: 8px !important;
  color: #fff !important;
}

.firepad-userlist-users {
  top: 73px !important;
}

.firepad-userlist-heading {
  margin: 50px 15px 0 !important;
}

.firepad-userlist-user {
  border-bottom: 1px solid #fff !important;
  margin: 63px 0 !important;
}

.firepad-userlist-color-indicator {
  border: none !important;
  border-radius: 0 !important;
}

.firepad-userlist-heading {
  border-bottom: 1px solid #fff !important;
  padding-bottom: 5px;
}

.firepad-userlist-heading {
  color: white;
}

.firepad-userlist-name {
  color: $darkgray;
}

.firepad-userlist-name-input {
  color: #fff;
  background-color: $darksidebar;
  top: 3px !important;
}

input.firepad-userlist-name-input {
    border-bottom: 1px solid #fff !important;
}

.powered-by-firepad {
  visibility: hidden;
}

.room {
  padding: 18px 18px 18px 0;
  width: 100%;
  background-color: #774DC7;
}

.roomBtn {
  color: $lightpurple;
  background-color: $darkpurple;
  border: 1px solid $darksidebar;

  &:hover {
    color: $lightpurple;
    background-color: #fff;
    border: 1px solid #c9c9c9;
  }
}

.user-group {
  display: block !important;
  margin: 10px 10px !important;
}

.userBtn {
  width: 30px;
  font-size: 24px !important;
  padding: 7px !important;
  margin-right: 3px;
}

.userForm {
  display: inline-block;
}

.js-cuttextarea {
  display: inline-block;
  width: 300px;
}

.wrapper {
  position: fixed;
  width: 100%;
  left: 175px;
}
