$youtube: #CC181E;
$spotify: #2EBD59;
$soundcloud: #FF5500;
$darksidebar: #283246;
$darkpurple: #390F72;
$darkgray: #c9c9c9;


#userlist {
  position: fixed; left: 0; top: 0; height: 100vh;
  width: 175px; border-right: 1px solid lightgrey;
  background-color: $darksidebar;
}
#firepad {
  position: absolute; left: 175px; top: 0; bottom: 0; right: 0; height: auto;
  border-left: 1px solid lightgrey;
}

.firepad-userlist-heading {
  color: white;
}

.firepad-userlist-name {
  color: $darkgray;
}

.firepad-userlist-name-input {
  color: $darkgray;
  background-color: $darksidebar;
}

.powered-by-firepad {
  visibility: hidden;
}

.roomTitle {
  margin-left: 15px;
  display: inline-block;
}

.roomMenu {
  float: left;
}

.container {
  text-align: center;
  margin: 0 auto;
  clear: both;
}

.frame {
  text-align: center;
  width: 500px;
  height: 435px;
  margin: 30px auto;
  float: right;

  input {
    display: block;
    margin: 0 auto;
  }
}

// #SoundCloud {
//   width: 500px;
//   height: 400px;
//   margin: 30px auto;
// }

.youtubeBtn {
  background-color: $youtube !important;
}

.youtubeFrame {
  background-color: $youtube;
}

.spotifyBtn {
  background-color: $spotify !important;
}

.spotifyFrame {
  background-color: $spotify;
  width: 317px;
}

.soundcloudBtn {
  background-color: $soundcloud !important;
}

.soundcloudFrame {
  background-color: $soundcloud;
}

.soundInput {
  position: relative;
  top: -60px;
}

.soundIcon {
  font-size: 200px;
  margin-top: 20%;
}

.linkIcon {
  margin-top: 14px;
}

.user-group {
  display: block !important;
  margin: 0 10px !important;
}

.userForm {
  float: left;
}

.js-cuttextarea {
  display: inline-block;
  width: 300px;
}

.wraps {
  position: fixed;
  left: 177px;
}
