$youtube: #CC181E;
$spotify: #2EBD59;
$soundcloud: #FF5500;

.roomTitle {
  float: left;
}

.roomMenu {
  float: left;
}

.container {
  text-align: center;
  margin: 0 auto;
  clear: both;
}

.frame {
  text-align: center;
  width: 500px;
  height: 435px;
  margin: 30px auto;

  input {
    display: block;
    margin: 0 auto;
  }
}

// #SoundCloud {
//   width: 500px;
//   height: 400px;
//   margin: 30px auto;
// }

.youtubeBtn {
  background-color: $youtube !important;
}

.youtubeFrame {
  background-color: $youtube;
}

.spotifyBtn {
  background-color: $spotify !important;
}

.spotifyFrame {
  background-color: $spotify;
  width: 317px;
}

.soundcloudBtn {
  background-color: $soundcloud !important;
}

.soundcloudFrame {
  background-color: $soundcloud;
}

.soundInput {
  position: relative;
  top: -60px;
}

.soundIcon {
  font-size: 200px;
  margin-top: 20%;
}
